body {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff4ec;
}

section {
  display: flex;
  flex-direction: column;
  /* Nu aici punem margin */
  /* margin-left: 24px; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Aici padding 24px pe orizontala */
  padding: 0 24px;
}
.nav-op {
  display: flex;
  justify-content: flex-end;
}
.search-icon ion-icon {
  width: 24px;
  height: 24px;
  padding-right: 17.92px;
  padding-top: 22px;
  color: #c98686;
}
.menu-icon ion-icon {
  width: 24px;
  height: 24px;
  padding-right: 24px;
  padding-top: 24px;
  color: #c98686;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
  color: #c98686;
  padding-left: 24px;
}
h3 {
  text-transform: uppercase;
  color: #c98686;
  font-size: 16px;
  font-weight: 900;
  line-height: 21.79px;
}
button {
  display: block;
  min-width: 40px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 900;
  color: #c98686;
  margin-right: 42px;
  border: none;
  background-color: #fff4ec;
}
.row-drinks {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  /* Nu e necesar position absolute */
  /* position: absolute; */
  /* Nu e necesar margin right */
  /* margin-right: 8px; */
  /* In loc de margin right, pune padding-right: 24px ca sa ai spatiu la sfarsitul randului */
  padding-right: 24px;
}

.card {
  flex-shrink: 0;
  width: 212px;
  height: 212px;
  position: relative;
  margin-right: 16px;
  /* aici first child margin-left: 24px */
}

.card:first-child {
  margin-left: 24px;
}

.card-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}
.card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: rgba(150, 107, 157, 0.8);
  border-radius: 0 0 8px 8px;
}
.center {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.26px;
  color: #fff4ec;
}

.card-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 26px;
  height: 26px;
}
.card-icon ion-icon {
  background-color: rgba(150, 107, 157, 0.8);
  color: #fff4ec;
  border-radius: 50%;
  padding: 0.2em;
}
