body {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff4ec;
}

section {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.nav-op {
  display: flex;
  justify-content: flex-end;
  padding: 24px 24px 0 24px;
}
.search-icon {
  width: 24px;
  height: 24px;
  padding-right: 14px;
  color: #c98686;
}
.menu-icon {
  width: 24px;
  height: 24px;
  color: #c98686;
  font-weight: bold;
}

.pageTitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  color: #c98686;
  padding-left: 24px;
  /* Am lasat padding -> The "pageTitle" class is already an h1 so no further styling inside is required. */
}
h3 {
  text-transform: uppercase;
  color: #c98686;
  font-size: 16px;
  font-weight: 900;
  line-height: 21.79px;
}
button {
  display: block;
  min-width: 40px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 900;
  color: #c98686;
  margin-right: 42px;
  border: none;
  background-color: #fff4ec;
}
.row-drinks {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
}

.card {
  flex-shrink: 0;
  width: 212px;
  height: 212px;
  position: relative;
  margin-right: 16px;
}

.card:first-child {
  margin-left: 24px;
}

.card-image img {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}
.card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: rgba(150, 107, 157, 0.8);
  border-radius: 0 0 8px 8px;
}
.center {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.26px;
  color: #fff4ec;
}

.card-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 26px;
  height: 26px;
}
.card-icon ion-icon {
  background-color: rgba(150, 107, 157, 0.8);
  color: #fff4ec;
  border-radius: 50%;
  padding: 0.2em;
}

.c-search-transition {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 0;
  bottom: 0;
  overflow: hidden;
  transition: 1s ease max-height;
}
.c-search-page {
  max-height: 100vh;
}
.c-search-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80vh;
  background: #fff4ec;
  border-radius: 16px 16px 0px 0px;
  z-index: 2;
}

.c-search-visible {
  max-height: 100vh;
  transition: 0.5s ease-in-out max-height;
}
.c-close {
  position: absolute;
  top: 22px;
  right: 24px;
  color: #c98686;
  border-radius: 2px;
  font-size: 2em;
}
.c-title {
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  top: 47px;
  left: 24px;
  color: #c98686;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
}
.c-inputElement {
  position: absolute;
  top: 110px;
  left: 24px;
}
.c-input {
  border: 2px solid #c98686;
  height: 42px;
  width: 345px;
  background-color: #fff4ec;
  border-radius: 8px;
}
::placeholder {
  text-transform: uppercase;
  color: #dcacaa;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  padding: 11px 0px 9px 16px;
}
.c-search {
  position: absolute;
  right: 8.5px;
  top: 12px;
  width: 24px;
  height: 24px;
  color: #c98686;
}

.c-paragraph {
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  top: 184px;
  left: 24px;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #c98686;
}
.c-icon-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 280px;
}
.c-icon {
  color: #c98686;
}
.c-figcaption {
  margin-top: 16px;
  text-transform: uppercase;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #c98686;
}

/* Burger Page */

.c-burger-menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  white-space: nowrap;
  background-color: #fff4ec;
  transition: 0.5s ease-in-out max-width;
  max-width: 0;
  overflow: hidden;
}
.c-burger-menu-visible {
  max-width: 100vh;
}
.c-exit {
  color: #c98686;
  border-radius: 2px;
  font-size: 2em;
  padding: 24px;
  margin-left: auto;
}

.c-links {
  /* position: absolute;
  right: 24px;
  text-align: right;
  margin-top: 13px; */

  text-align: right;
  margin-right: 24px;
}
.c-menu {
  font-family: "Noto Sans";
  font-style: normal;
  /* font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: right; */
  color: #c98686;
  text-transform: uppercase;
}

.c-copyright {
  margin: 0;
  /* padding-top: 816px; */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;

  line-height: 16px;
  color: #dcacaa;
  text-align: center;
  margin-top: auto;
}
