body {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff4ec;
}

section {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.nav-op {
  display: flex;
  justify-content: flex-end;
}
.search-icon {
  width: 24px;
  height: 24px;
  padding-right: 17.92px;
  padding-top: 22px;
  color: #c98686;
}
.menu-icon {
  width: 24px;
  height: 24px;
  padding-right: 24px;
  padding-top: 24px;
  color: #c98686;
  font-weight: bold;
}

.pageTitle h1 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
  color: #c98686;
  padding-left: 24px;
  margin: 0;
}
h3 {
  text-transform: uppercase;
  color: #c98686;
  font-size: 16px;
  font-weight: 900;
  line-height: 21.79px;
}
button {
  display: block;
  min-width: 40px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 900;
  color: #c98686;
  margin-right: 42px;
  border: none;
  background-color: #fff4ec;
}
.row-drinks {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  /* Stiu ca am spus eu sa pui padding right 24px dar iti pune overflow, poti sa il scoti */
  padding-right: 24px;
}

.card {
  flex-shrink: 0;
  width: 212px;
  height: 212px;
  position: relative;
  margin-right: 16px;
}

.card:first-child {
  margin-left: 24px;
}

.card-image img {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}
.card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: rgba(150, 107, 157, 0.8);
  border-radius: 0 0 8px 8px;
}
.center {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.26px;
  color: #fff4ec;
}

.card-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 26px;
  height: 26px;
}
.card-icon ion-icon {
  background-color: rgba(150, 107, 157, 0.8);
  color: #fff4ec;
  border-radius: 50%;
  padding: 0.2em;
}

.c-search-menu {
  position: absolute;
  left: -100%;
  top: 80px;
  width: 100%;
  height: 80vh;
  transition: all 2s ease-in-out;
  /* background: #fff4ec; */
  border-radius: 16px 16px 0px 0px;
  background-color: red;
}
.c-search-visible {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 100%;
  height: 80vh;
  transition: all 2s ease-in;
  /* background: #fff4ec; */
  border-radius: 16px 16px 0px 0px;
  background-color: red;
}
.c-close {
  position: absolute;
  top: 22px;
  right: 24px;
  color: #c98686;
  border-radius: 2px;
  font-size: 2em;
}
.c-title {
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  top: 47px;
  left: 24px;
  color: #c98686;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
}
.c-divInput {
  position: absolute;
  top: 110px;
  left: 24px;

  background-color: #fff4ec;
}
.c-input {
  border: 2px solid #c98686;
  height: 42px;
  width: 345px;
}
::placeholder {
  text-transform: uppercase;
  color: #dcacaa;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
}
.c-search {
  position: absolute;
  right: 8.5px;
  top: 12px;
  width: 24px;
  height: 24px;
  color: #c98686;
}

.c-paragraph {
  position: absolute;
  margin: 0;
  top: 184px;
  left: 24px;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #c98686;
}
